/* Styles communs pour toutes les pages */

@font-face {
    font-family: 'MS Sans Serif';
    src: url('ms-sans-serif.ttf') format('truetype');
}

@media only screen and (max-width: 900px) {
    body::before {
content: " Mon portfolio n'est actuellement pas disponible pour smartphones. Utillisez Windows 98 pour y accéder. ";
font-family: 'MS Sans Serif', sans-serif;
font-size: 15px;
display: block;
position: fixed;
top: 0;
left: 0;
width: 100%; /* Set it to 100% to cover the entire viewport */
height: 100vh; /* Set it to 100% to cover the entire viewport */
background-color: #000000;
color: #ffffff;
padding: 10px;
text-align: center;
z-index: 9999;
}} 


body {
    margin: 0;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    cursor: url('cursor-normal.png') 10 10, auto;
}

/* Page de chargement */


body.chargement {
    position: absolute;
    background-color: black;

}

.bios1  {
    position: fixed;
    top: 13vh; /* Adjust as needed */
    left: 20vw; /* Adjust as needed */
    transform: translate(-50%, -50%);
}

.bios2  {
    position: fixed;
    top: 20vh; /* Adjust as needed */
    left: 80%; /* Adjust as needed */
    transform: translate(-50%, -50%);
}

.bios1 img {
    max-width: 16%;
    height: auto;
}

.bios2 img {
    max-width: 100%;
    height: auto;
}

.typing-text {
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    white-space: pre; /* Allow for line breaks */
    overflow: hidden;
    position: absolute;
    top: 5%; /* Position at the top */
    left: 13vw; /* Position at the left */

}

#loading-text::after {
    content: "_";
    display: inline-block;
    color: rgb(255, 255, 255); /* Set cursor color to grey */
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

  /*main*/

  .footer-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw; /* Use viewport width instead of percentage */
    height: 4.5vh; /* Adjust the height as needed */
    background-image: url('startbar.png'); /* Specify your footer image */
    background-size: 100% 100%; /* Ensure the background image covers the entire area */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    z-index: 1000; /* Ensure the footer is on top of other content */
    cursor: url('cursor-normal.png') 10 10, auto;
}

.about-link:hover, .work-link:hover, .ref-link:hover, .archi101-link:hover, .game-link:hover, .peyriac-link:hover, .inviter-link:hover, .archifolies-link:hover, .utopie1-link:hover, .utopie2-link:hover, .utopie3-link:hover {
    cursor: url('cursor-hover.png') 30 30, auto;
}


.background-container {
    position: sticky; /* Ensure the container has a non-static position */
    width: 100%;
    height: 100%;
}

body.home {
    cursor: url('cursor-normal.png') 10 10, auto;
    position: fixed;
    background: url('fond.png') center center no-repeat;
    background-size: 82%;
    background-position-y: 5vh;
    background-color: #000000;
    width: 100%;
    height: 100%;
}


  /*ouvrir page par dessus l'autre: a faire*/

  #iframe-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: transparent; 
    border: none; 
    z-index: 1;
    opacity: 0; 
    transition: opacity 0.2s ease-in-out; /* Add a transition effect on the opacity property */
}

#iframe-modal.appear {
    opacity: 1; /* Show the modal with full opacity */
}

#iframe-modal::before {
    content: '';
    position: absolute;
    top: -6%;
    left: -6px;
    right: -6px;
    bottom: -1%;
    background: url('border.png');
    background-size: 100% 100%; 
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Ensure background doesn't repeat */
    z-index: -1;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

#iframe-modal iframe {
    width: calc(100% - 0px); /* Adjusted width to accommodate padding */
    height: calc(100% - 20px); /* Adjusted height to accommodate padding */
    border: none;
}


.close {
    position: absolute;
    color: rgba(0, 0, 0, 0);
    top: -35px;
    right: 2px;
    font-size: 50px;
    cursor: url('cursor-hover.png') 30 30, auto;
}

  /*9*/

  .about-button {
    position: fixed;
    top: 25%; /* Use percentage for vertical positioning */
    left: 85.5%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.about-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.about-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.about-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

  /*7*/

.work-button {
    position: fixed;
    top: 48%; /* Use percentage for vertical positioning */
    left: 85%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.work-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.work-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.work-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

/*8*/

.ref-button {
    position: fixed;
    top: 69%; /* Use percentage for vertical positioning */
    left: 85%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.ref-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.ref-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.ref-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

/*2*/

.archi101-button {
    position: fixed;
    top: 71%; /* Use percentage for vertical positioning */
    left: 38%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.archi101-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.archi101-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.archi101-link:hover img {
    transform: rotate(30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}


/*1*/

.game-button {
    position: fixed;
    top: 60%; /* Use percentage for vertical positioning */
    left: 25%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.game-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.game-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.game-link:hover img {
    transform: rotate(30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

/*11*/

.peyriac-button {
    position: fixed;
    top: 65%; /* Use percentage for vertical positioning */
    left: 53%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.peyriac-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.peyriac-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.peyriac-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}



/*6*/

.inviter-button {
    position: fixed;
    top: 45%; /* Use percentage for vertical positioning */
    left: 56%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.inviter-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.inviter-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.inviter-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

/*12*/

.archifolies-button {
    position: fixed;
    top: 25%; /* Use percentage for vertical positioning */
    left: 59%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.archifolies-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.archifolies-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.archifolies-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

/*3*/

.utopie1-button {
    position: fixed;
    top: 47%; /* Use percentage for vertical positioning */
    left: 38%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.utopie1-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.utopie1-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.utopie1-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

/*4*/

.utopie2-button {
    position: fixed;
    top: 32%; /* Use percentage for vertical positioning */
    left: 27%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.utopie2-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.utopie2-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.utopie2-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}

/*5*/

.utopie3-button {
    position: fixed;
    top: 23%; /* Use percentage for vertical positioning */
    left: 40%; /* Use percentage for horizontal positioning */
    transform: translate(-50%, -50%); /* Center the button */
}

.utopie3-link {
    display: block; /* Permet à l'image de remplir l'espace du lien */
    width: 10vw; /* Set width to 10% of the viewport width */
    height: auto; /* Automatically adjust height to maintain aspect ratio */
    text-decoration: none;
    position: relative; /* Ajout de position relative pour positionner l'image absolument */
}

.utopie3-link img {
    width: 100%; /* Make the image fill its parent container */
    height: 100%; /* Make the image fill its parent container */
    transition: transform 0.3s ease; /* Ajout d'une transition pour créer un effet fluide */
}

.utopie3-link:hover img {
    transform: rotate(-30deg); /* Rotation dans le sens des aiguilles d'une montre lors du survol */
}


/*taskbar test*/

#notificationArea {
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 0.8vw;
    z-index: 9999;
    color: #000000; /* Change the color as desired */
    position: fixed;
    bottom: 1%; /* Adjust the distance from the bottom as desired */
    right: 1%; /* Adjust the distance from the right as desired */
    cursor: url('cursor-normal.png') 10 10, auto;
}
