/* Styles communs pour toutes les pages */
@font-face {
    font-family: 'MS Sans Serif';
    src: url('ms-sans-serif.ttf') format('truetype');
}

body {
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    cursor: url('cursor-normal.png') 10 10, auto;
    box-sizing: border-box; 
}

::-webkit-scrollbar {
    width: 1px; 
    height: 15px; 
}

::-webkit-scrollbar-track {
    background-color: #c0c0c000; 
}


h1  {
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 1.5em;
    margin: 20px;
    margin-left: 20px; 
}

h2  {
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 1.1em;
    text-align: left; 
    margin-right: 20px; 
    margin-left: 20px; 
}

h3  {
  font-family: 'MS Sans Serif', sans-serif;
  font-size: 1.1em;
  text-align: center; 
  margin-right: 20px; 
  margin-left: 20px; 
}

p {
    font-family: 'MS Sans Serif', sans-serif;
    font-size: 1em;
    text-align : justify;
    margin-right: 20px; 
    margin-left: 20px; 
}


/* Styles a propos */

.banner-container {
    width: 100%;
    overflow: hidden;
}

.banner-container img {
    width: 100%; 
    height: auto; 
}

.centered-video {
  width: 50%; 
  max-width: 300px; 
  display: block;
  margin: 0 auto;
}

.container {
    text-align: left;
    font-family: "MS Sans Serif", sans-serif;
    display: flex;
    justify-content: center;
}
  
  .column {
    width: 300px;
    margin: 0 20px;
    text-align: center;
  }
  
  .column img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .column p {
    margin-top: 10px;
  }


  footer {
    text-align: center;
    cursor: url('cursor-hover.png') 30 30, auto;
  }
  
  

a:link {
  text-decoration: none;
  color: blue;
  cursor: url('cursor-hover.png') 30 30, auto;
}

/* Target visited links */
a:visited {
  text-decoration: none;
  color: blue;
  cursor: url('cursor-hover.png') 30 30, auto;
}

/* Target links on hover */
a:hover {
  text-decoration: underline;
  cursor: url('cursor-hover.png') 30 30, auto;
}


  /*grille*/

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.grid-item {
    width: 100%;
    padding-bottom: 100%; 
    position: relative;
    overflow: hidden;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


.grid-container:hover, .grid-item img:hover {
    cursor: url('cursor-hover.png') 30 30, auto;
}


